@font-face {
    font-family: 'inikaregular';
    src: url('/wordpress/wp-content/themes/blankslate/fonts/inika-regular.eot');
    src: url('/wordpress/wp-content/themes/blankslate/fonts/inika-regular.eot?#iefix') format('embedded-opentype'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-regular.woff') format('woff'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-regular.ttf') format('truetype'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-regular.svg#inikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inikabold';
    src: url('/wordpress/wp-content/themes/blankslate/fonts/inika-bold.eot');
    src: url('/wordpress/wp-content/themes/blankslate/fonts/inika-bold.eot?#iefix') format('embedded-opentype'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-bold.woff') format('woff'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-bold.ttf') format('truetype'),
         url('/wordpress/wp-content/themes/blankslate/fonts/inika-bold.svg#inikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container {
	width: 960px;
	margin: auto;
}
.clear{
 	margin:0px;
 	height:0px;
}

#main_content{
	background: url("/wordpress/wp-content/themes/blankslate/images/small_brown_dots.jpg") repeat;
	
	height:100%;
}


/* ------------------------------ Social Nav 
-------------------------*/
#social{
	background: url("/wordpress/wp-content/themes/blankslate/images/tiny_green_dots.jpg") repeat;
	height: 69px;
	width: 100%;
	border-bottom:#76bb43 1px solid;
}
#social a{
	display: block;
  	text-indent: -9999px;
  	width: 30px;
  	height: 30px;
}
#social ul{
	float: right;
	padding-top: 30px;
	z-index: 100;
	position: relative;
}
#social li{
	display: inline;
	float: left;
	height: 30px;
	margin-left: 4px;
}
#social_container{
	width: 859px;
	margin: auto;
}
#facebook{
	background: url("/wordpress/wp-content/themes/blankslate/images/facebook.png");
}
#facebook:hover{
	background-position: 0 -30px;
}
#twitter{
	background: url("/wordpress/wp-content/themes/blankslate/images/twitter.png");
}
#twitter:hover{
	background-position: 0 -30px;
}



/* ----------------------------- Nav Ribbon 
------------------------*/
#ribbon{
	width: 960px;
	position: relative;
	bottom: 35px;
}
#ribbon_left{
	background:url("/wordpress/wp-content/themes/blankslate/images/ribbon_left.png");
	width: 59px;
	height: 45px;
	position: relative;
	top: 64px;
	right: -2px;
}
#ribbon_pattern{
	background:url("/wordpress/wp-content/themes/blankslate/images/ribbon_pattern.jpg") repeat-x;
	height: 57px;
	width: 860px;
	margin:auto;
}
#ribbon_right{
	background:url("/wordpress/wp-content/themes/blankslate/images/ribbon_right.png");
	width: 60px;
	height: 45px;
	float: right;
	position: relative;
	top: -38px;
}

/* ----------------------------------- Nav items + Logo 
------------------------*/

#nav{
	background: url("/wordpress/wp-content/themes/blankslate/images/green_x.jpg") repeat;
	height: 85px;
	border-bottom: 1px solid #f3dbbf;
}

#logo{
	width: 206px;
	margin: auto;
	position: relative;
	bottom: 152px;
}
.menu{
	margin: auto;
	width: 960px;
	position: relative;
	top: 99px;
	z-index: 1000;
	left: 285px;
}
 .page_item a{
	text-decoration: none;
	font-family: inikabold;
	font-size: 20px;
	color: #FFF;
	text-shadow: -1px -1px 1px rgba(81, 42, 15, 1);
	float: left;
	margin-right: 250px;
}
 .page_item a:hover{
	color: #f2e9d9;
}


/* --------------------------- Main Content / Slider 
--------------------------*/

.entry-content {
	width: 874px;
	margin: auto;
	margin-top: 53px;
}

.lof-slidecontent{
	margin :auto;
}

/*-------------------------- Bottom Content 
----------------------*/

#post-1{
	background:url("/wordpress/wp-content/themes/blankslate/images/tiny_green_dots.jpg") repeat;
	padding-bottom: 20px;
	}

#post-1 .entry-content{
	width:385px;
	padding-top: 0px;
	position: relative;
	right: 235px;
}

#post-1 h5{
	color: #365a1c;
	font-family: inikabold;
	font-size: 50px;
	padding-bottom: 30px;
	padding-top: 35px;
}

#post-1 .entry-content p{
	font-family: arial, sans-serif;
	font-size: 18px;
	color: #365a1c;
}

#bottom-image{
	width: 960px;
	margin: auto;
	position:relative;
}

#sweets {
	float: right;
	position: absolute;
	bottom: 0px;
	right:0px;
}

/* -------------------------- Footer
------------------*/

#copyright{
	background: url("/wordpress/wp-content/themes/blankslate/images/green_x.jpg") repeat;
	text-align: center;
	padding: 30px 0px;
	font-size: 15px;
	font-family: "inikabold", sans-serif;
	color: #2a4c11;
}

#copyright a{
	text-decoration: none;
	color: #223d0e;
}

#cntctfrm_contact_form{
	font-family: inikabold;
	font-size: 20px;
	color: #FFF;
	text-shadow: -1px -1px 1px rgba(81, 42, 15, 1);
}
html {
background: url("/wordpress/wp-content/themes/blankslate/images/small_brown_dots.jpg") repeat;
}

#special-footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	left:0;
	height:75px;
}


/* Testing */
#wrapper{

	min-height:100%;
	position:relative;
}

#container{
	padding:10px;
	padding-bottom:80px;  
}

